<a href="https://colab.research.google.com/github/ramprakashyadav/OCR/blob/main/pdfplumber.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
!pip install pdfplumber

Requirement already satisfied: pdfplumber in /usr/local/lib/python3.7/dist-packages (0.6.0)
Requirement already satisfied: pdfminer.six==20211012 in /usr/local/lib/python3.7/dist-packages (from pdfplumber) (20211012)
Requirement already satisfied: Pillow>=8.4 in /usr/local/lib/python3.7/dist-packages (from pdfplumber) (9.0.1)
Requirement already satisfied: Wand>=0.6.7 in /usr/local/lib/python3.7/dist-packages (from pdfplumber) (0.6.7)
Requirement already satisfied: chardet in /usr/local/lib/python3.7/dist-packages (from pdfminer.six==20211012->pdfplumber) (3.0.4)
Requirement already satisfied: cryptography in /usr/local/lib/python3.7/dist-packages (from pdfminer.six==20211012->pdfplumber) (36.0.1)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->pdfminer.six==20211012->pdfplumber) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->pdfminer.six==20211012->pdfplumber) (2.21)

In [9]:
import pdfplumber

In [10]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [5]:
INPUT_FOLDER = "/content/gdrive/MyDrive/tensorflow/models/research/object_detection/input_images/"

In [6]:
pdf = pdfplumber.open(INPUT_FOLDER+"test101.pdf")
table=pdf.pages[0].extract_table()

In [11]:
table

[['Serial No',
  'Material Description',
  'HSN/SAC',
  'Qty',
  'Rate Per\nItem',
  'Gross Amt.',
  'Discount Amt.',
  'Net Amt.',
  'GST Rate %',
  'GST Tax Amt.',
  'Total Amt. (INR)'],
 ['10',
  'Red Bull ED IN Alu Can 24x350ml\nRB201709\nMfg. Dt.: 14.04.2021-15\nBatch No: 1915069',
  '22029990',
  '15 BOX',
  '2,063.90',
  '30,958.50',
  '1,800.00',
  '29,158.50',
  'GST: 28\nCESS: 12',
  'IGST: 0.00\nCGST: 4,082.00\nSGST/UGST:\n4,082.00\nCESS: 3,499.00',
  '40,821.50'],
 ['20',
  'Red Bull ED IN 250ml 4Pack PMC\nRB202075\nMfg. Dt.: 11.08.2021-175\nBatch No: 1951558',
  '22029990',
  '175 BOX',
  '1,569.87',
  '274,727.25',
  '21,000.00',
  '253,727.25',
  'GST: 28\nCESS: 12',
  'IGST: 0.00\nCGST: 35,522.00\nSGST/UGST:\n35,522.00\nCESS: 30,447.00',
  '355,218.25'],
 ['Total',
  None,
  None,
  None,
  None,
  '305,685.75',
  '22,800.00',
  '282,885.75',
  '',
  '113,154.00',
  '396,039.75'],
 ['TCS', None, None, None, None, None, None, None, None, None, '0.00'],
 ['Total Amount',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  '396,039.75']]

In [12]:
import pandas as pd

In [13]:
df = pd.DataFrame(table[1::],columns=table[0])

In [14]:
df

      Serial No  ... Total Amt. (INR)
0            10  ...        40,821.50
1            20  ...       355,218.25
2         Total  ...       396,039.75
3           TCS  ...             0.00
4  Total Amount  ...       396,039.75

[5 rows x 11 columns]